
h2 Abraham S: 
hr
h3 If you were designing a Web-based system to make airline reservations and sell airline tickets, which DBMS architecture would you choose?
| Why? Why would the other architectures not be a good choice? 

p I would rather choose Three Tier Client-Server Architecture instead of the other ones because there a list of benefits that this offers. The following: 

ul 
li Three-tier Architecture is able to Enhance Security.
li Acts like a conduit for sending moderately processed data between the database server and the client.
li Change in platform affects only the layer running on that particular platform. For example, a change of operating system in the presentation tier would only affect the user interface code.
li user system interface top tier where user services (such as session, text input, dialog, and display management) reside
li It more upgraded and better than the other tiers which this one has more flexibility, maintability and reusability.
img(src="https://www.oreilly.com/library/view/architectural-patterns/9781787287495/assets/43ab3182-df6d-4495-8ce0-c2705abf261f.png")


p
  | NgocD.
  b
    | 2.13. Choose a database application with which you are familiar. Design a schema
    | and show a sample database for that application, using the notation of Figures 1.2 and 2.1. What types of additional information and constraints
    | would you like to represent in the schema? Think of several users of your
    | database, and design a view for each.
br
p
  img(src='https://files.transtutors.com/test/qimg/50608dd5-a5dc-4761-bee5-70b720a55083.png')
  | In the image above, it is showing a category of data of what students, their major, and class name. 
  | A schema data is embraced of the facts and the dimension tables 
  br
  | Fact tables are controlled as each fact is contingent on entire composite primary key which are the students names and what majors they are  
  br
  | Helper tables in the data is conceptual model world to tie 
  | requests of data (informtion about the table)
  br
  | The helper table acts as a technique to regularize the association 
  br
  | between the dimension data and the fact data which in this example is the class name. 
  br
  b Facts must be reconstructed as showed below
  ul
    li  &quot;Anything where dimension fluctuates.
    li Anything in the record fluctuates.
    li If customers are added to, or deleted from an account (course location)
    li The weighting factors (major fact)
    | by Ngoc D.

h2 Marvin Lara 2.13
p In the student Database I would include the grade of the student because it 
| it would be easier to find what grade the students are.
br
img(src="https://i.imgur.com/0XdAOSa.png")

p The course area seems to hae everything that is 
| needed to keep track of the students progress
br
img(src="https://i.imgur.com/TinAHpY.png")

p This is also complete because only needs two things to verify the 
| course and the id designated to it
br
img(src="https://i.imgur.com/Zcii7AC.png")

p The section part is also good, because it has evrything it needs to be able to identify who is teaching, 
| what course it is, what year and semester, and an id for each so easier to locate.
br
img(src="https://i.imgur.com/b1oof5B.png")

p The grade report should also have a section for the accumulative GPA and
| for keeping track their education level.
br
img(src="https://i.imgur.com/jHR39MY.png")

h1 Kevin 2.9
h2
  | What is the difference between two-tier and three-tier client/server architectures?
h2 Two-Tier Architecture
p
  | In two-tier, the application logic is either buried inside the user interface on
  | the client or within the database on the server, or both.
  | With two-tier client/server architectures, the user system interface is usually located
  | in the users desktop environment and the database management services are usually
  | in a server that is a more powerful machine that services many clients.
img(src='https://qph.fs.quoracdn.net/main-qimg-8ddb5c6744aa408533b8ece69ccf40c8.webp')
h2 Three-Tier Architecture
p
  | In three-tier, the application logic or process lives in the middle-tier,
  | it is separated from the data and the user interface.
  | Three-tier systems are more scalable, robust and flexible.
  | In addition, they can integrate data from multiple sources.
  | In the three-tier architecture, a middle tier was added between the
  | user system interface client environment and the database management server environment.
  | There are a variety of ways of implementing this middle tier, such as transaction
  | processing monitors, message servers, or application servers.
img(src='https://www.softwaretestingclass.com/wp-content/uploads/2013/01/three-tier-architecture.png')

