
b What are the roles and responsibilities of a DBA?
br
b
  h2 by Ngoc Doan
br
p
  | DBA stands for database administrator. The role of a DBA is that it authorizes access to the database, coordinating and monitoring its use. The DBA also acquired software resources. Another way of describing DBA is that it is like the back end of databases. DBA&rsquo;s work behind the scenes to get the database up and running. The front end of databases are the Database Designers who are responsible for identifying the data that is to be stored in the database (the visual side). The skills for a DBA role are a good knowledge of physical database design, knowledge of Oracle, knowledge of the business they applied for, and communication skills with management, team work, and other providers.
br
p
  | The responsibilities of a DBA are specializing in authentication, software handling maintenance, security, performance monitoring, database tuning, and troubleshooting. Overall, the DBA is responsible for the maintenance of the database server and performance. For example, DBA keeps track of making sure the database is always up to data when new or old information is taken out so it can ensure capacity planning, meaning how fast the database can/will load.
br
p
  | Another important piece of responsibility is the security and authentication. DBA are also responsible for setting up employee access for database security. For example, when employees log onto the employee portal to view their pay stubs, records, and other personal information. DBAs control who has access and what type of access users are allowed. For example, users may only see certain information when they log onto a system such as other user&rsquo;s address information. DBAs are also responsible for researching who has done what to the data (audit logs) if there is a security breach. DBA&rsquo;s investigate and get to the root of the problem to ensure the security and safety of the database.
br
p
  | An ongoing responsibility DBAs do are performance monitoring. DBAs monitor databases for performance issues. If the system is slowing down processing, the DBA makes configuration changes to the software. There are many types of monitoring tools and part of the job is to understand what they need to track to improve the performance of the database system. Going off of that,DBAs need to have a good understanding of ORACLE and how the system works and functions. Oracle is an important database system that DBAs must understand and are comfortable with to help them perform their job.
br
p
  | All in all, DBAs are like the backend of databases. DBA&rsquo;s overall responsibilities are troubleshooting databases. DBAs are on call for troubleshooting in case of any problems. DBAs need to quickly restore lost data or correct an issue to minimize damage (like when there is a security breach), monitoring data performance, software updates, and authentication/security.
br
b
  h2 by Ngoc Doan



