extends layout

block content
 h1 About Us
 p
  | This is the about page




  1.13. Give examples of systems in which it may make sense to use traditional file
processing instead of a database approach.