extends layout

block content
 h1 About Us
 p
  | This is the about page

h2 1.5 Question (Marvin)

p  What are the different types of database end users? Discuss the main activities of each.
 
|Casual End Users –
|These are the users who occasionally access the database but 
|they require different information each time. They use a sophisticated database query language
|basically to specify their request and are typically middle or level managers or other occasional browsers.

|Naive or parametric end users –
|These are the users who basically make up a sizeable portion of database end users. The main job function revolves basically 
|around constantly querying and updating the database

|Sophisticated end users –
|These users basically include engineers, scientist, business analytics and others who thoroughly 
|familiarize themselves with the facilities of the DBMS

| Standalone users –
|These are those users whose job is basically to maintain personal databases by using a ready-made program package that provides 
|easy to use menu-based or graphics-based interfaces