h2 Abraham S: 
hr
h3 If you were designing a Web-based system to make airline reservations and sell airline tickets, which DBMS architecture would you choose?
| Why? Why would the other architectures not be a good choice? 

p I would rather choose Three Tier Client-Server Architecture instead of the other ones because there a list of benefits that this offers. The following: 

ul 
li Three-tier Architecture is able to Enhance Security.
li Acts like a conduit for sending moderately processed data between the database server and the client.
li Change in platform affects only the layer running on that particular platform. For example, a change of operating system in the presentation tier would only affect the user interface code.
li user system interface top tier where user services (such as session, text input, dialog, and display management) reside
li It more upgraded and better than the other tiers which this one has more flexibility, maintability and reusability.
img(src="https://www.oreilly.com/library/view/architectural-patterns/9781787287495/assets/43ab3182-df6d-4495-8ce0-c2705abf261f.png")