h2 Marvin Lara 2.13
p In the student Database I would include the grade of the student because it 
| it would be easier to find what grade the students are.
img(src="https://imgur.com/0XdAOSa")

p The course area seems to hae everything that is 
| needed to keep track of the students progress
img(src="https://imgur.com/TinAHpY")

p This is also complete because only needs two things to verify the 
| course and the id designated to it
img(src="https://imgur.com/Zcii7AC")

p The section part is also good, because it has evrything it needs to be able to identify who is teaching, 
| what course it is, what year and semester, and an id for each so easier to locate.
img(src="https://imgur.com/b1oof5B")

p The grade report should also have a section for the accumulative GPA and
| for keeping track their education level.
img(src="https://imgur.com/jHR39MY")