extends layout

block content
 h1 About Us
 p
  | This is the about page


h1 Marvin's Exercise 1.5

p What are the different types of database end users? Discuss the main activities of each.

p | . Casual End Users &ndash;
| These are the users who occasionally access the database but they require different information each time. 
| They use a sophisticated database query language basically to specify their request and are typically middle or level managers or other occasional browsers.
 
| Naive or parametric end users &ndash;
| These are the users who basically make up a sizeable portion of database end users. 
| The main job function revolves basically around constantly querying and updating the database for this we basically use a standard type of query known as canned transaction that have been programmed and tested.

| Sophisticated end users &ndash;
| These users basically include engineers, scientist, business analytics and others who thoroughly familiarize themselves with the facilities of the DBMS in order to implement their application to meet their complex requirement

| Standalone users &ndash;
| These are those users whose job is basically to maintain personal databases by using a ready-made program package that provides easy to use menu-based or graphics-based interfaces
=======

img(src='https://www.qcu.org/mstinc/sdp/help/en/images/help_my_accounts.png')
p
  b Traditional File
  |  : Bank Accounts 
  br
  |  Single log in. Password protected. There are limits as to how that data can be used or transported -N.D.
| Ngoc - 1.13. Give examples of systems in which it may make sense to use traditional file
| processing instead of a database approach.
ul
  li Small database - single user application that does not require security
  li Personalized phonebook
  li Calculator
  li Real-time navaigation system Ngoc

h2 1.5 Question (Marvin)

p  What are the different types of database end users? Discuss the main activities of each.
 
|Casual End Users –
|These are the users who occasionally access the database but 
|they require different information each time. They use a sophisticated database query language
|basically to specify their request and are typically middle or level managers or other occasional browsers.

|Naive or parametric end users –
|These are the users who basically make up a sizeable portion of database end users. The main job function revolves basically 
|around constantly querying and updating the database

|Sophisticated end users –
|These users basically include engineers, scientist, business analytics and others who thoroughly 
|familiarize themselves with the facilities of the DBMS

| Standalone users –
|These are those users whose job is basically to maintain personal databases by using a ready-made program package that provides 
|easy to use menu-based or graphics-based interfaces



Ngoc - 1.13. Give examples of systems in which it may make sense to use traditional file
processing instead of a database approach.

<img src="https://www.qcu.org/mstinc/sdp/help/en/images/help_my_accounts.png">

<p> <b>Traditional File</b> : Bank Accounts <br> Single log in. Password protected. There are limits as to how that data can be used or transported -N.D.  </p>

<ul>
<li>Small database - single user application that does not require security</li>
<li>Personalized phonebook</li>
<li>Calculator</li>
<li>Real-time navaigation system</li>

</ul>


