extends layout

block content
 h1 About Us
 p
  | This is the about page


  p
  b 1.4 Review Question -Ngoc
  br
p
  | 1.4. What are the responsibilities of the DBA and the database designers? 
  | The responsibilities of the DBA and the database designers are that the DBA is responsible
  br
  | &#x9;authorizing access to the database, montic, and acquire software resources. 
  br
  | &#x9;The database designers are responsible of identifying the data that is to be
  | &#x9;stored in the database to store the data.


img(src='https://www.qcu.org/mstinc/sdp/help/en/images/help_my_accounts.png')
p
  b Traditional File
  |  : Bank Accounts 
  br
  |  Single log in. Password protected. There are limits as to how that data can be used or transported -N.D.
| Ngoc - 1.13. Give examples of systems in which it may make sense to use traditional file
| processing instead of a database approach.
ul
  li Small database - single user application that does not require security
  li Personalized phonebook
  li Calculator
  li Real-time navaigation system Ngoc