
p
  | NgocD.
  b
    | 2.13. Choose a database application with which you are familiar. Design a schema
    | and show a sample database for that application, using the notation of Figures 1.2 and 2.1. What types of additional information and constraints
    | would you like to represent in the schema? Think of several users of your
    | database, and design a view for each.
br
p
  img(src='https://files.transtutors.com/test/qimg/50608dd5-a5dc-4761-bee5-70b720a55083.png')
  | In the image above, it is showing a category of data of what students, their major, and class name. 
  | A schema data is embraced of the facts and the dimension tables 
  br
  | Fact tables are controlled as each fact is contingent on entire composite primary key which are the students names and what majors they are  
  br
  | Helper tables in the data is conceptual model world to tie 
  | requests of data (informtion about the table)
  br
  | The helper table acts as a technique to regularize the association 
  br
  | between the dimension data and the fact data which in this example is the class name. 
  br
  b Facts must be reconstructed as showed below
  ul
    li  &quot;Anything where dimension fluctuates.
    li Anything in the record fluctuates.
    li If customers are added to, or deleted from an account (course location)
    li The weighting factors (major fact)
    | by Ngoc D.

h2 Marvin Lara 2.13
p In the student Database I would include the grade of the student because it 
| it would be easier to find what grade the students are.
img(src="https://i.imgur.com/0XdAOSa.png")

p The course area seems to hae everything that is 
| needed to keep track of the students progress
img(src="https://i.imgur.com/TinAHpY.png")

p This is also complete because only needs two things to verify the 
| course and the id designated to it
img(src="https://i.imgur.com/Zcii7AC.png")

p The section part is also good, because it has evrything it needs to be able to identify who is teaching, 
| what course it is, what year and semester, and an id for each so easier to locate.
img(src="https://i.imgur.com/b1oof5B.png")

p The grade report should also have a section for the accumulative GPA and
| for keeping track their education level.
img(src="https://i.imgur.com/jHR39MY.png")

