extends layout

block content
 h1 About Us
 p
  | This is the about page



Ngoc - 1.13. Give examples of systems in which it may make sense to use traditional file
processing instead of a database approach.

<img src="https://www.qcu.org/mstinc/sdp/help/en/images/help_my_accounts.png">

<p> <b>Traditional File</b> : Bank Accounts <br> Single log in. Password protected. There are limits as to how that data can be used or transported -N.D.  </p>

<ul>
<li>Small database - single user application that does not require security</li>
<li>Personalized phonebook</li>
<li>Calculator</li>
<li>Real-time navaigation system</li>

</ul>