extends layout

block content
 h1 About Us
 p
  | This is the about page

h2 1.5 Question (Marvin)

p  What are the different types of database end users? Discuss the main activities of each.
 
|Casual End Users –
|These are the users who occasionally access the database but 
|they require different information each time. They use a sophisticated database query language
|basically to specify their request and are typically middle or level managers or other occasional browsers.

|Naive or parametric end users –
|These are the users who basically make up a sizeable portion of database end users. The main job function revolves basically 
|around constantly querying and updating the database

|Sophisticated end users –
|These users basically include engineers, scientist, business analytics and others who thoroughly 
|familiarize themselves with the facilities of the DBMS

| Standalone users –
|These are those users whose job is basically to maintain personal databases by using a ready-made program package that provides 
|easy to use menu-based or graphics-based interfaces


Ngoc - 1.13. Give examples of systems in which it may make sense to use traditional file
processing instead of a database approach.

<img src="https://www.qcu.org/mstinc/sdp/help/en/images/help_my_accounts.png">

<p> <b>Traditional File</b> : Bank Accounts <br> Single log in. Password protected. There are limits as to how that data can be used or transported -N.D.  </p>

<ul>
<li>Small database - single user application that does not require security</li>
<li>Personalized phonebook</li>
<li>Calculator</li>
<li>Real-time navaigation system</li>

</ul>

h1 Kevin McCall 1.9
h2 What is the difference between controlled and uncontrolled redundancy?
p
  | Redundancy is when the same fact is stored multiple times in several places in a database
ul
  li
    | For example, the name of a student with StudentID=3 is Red is stored multiple times.
p
  | Redundancy is controlled when the DBMS ensures that multiple copies of the same data is consistent.
ul
  li
    | For example, if a new record with StudentID=3 is stored in the database, the DBMS will ensure that this record is for student Red.
p If the DBMS has no control over this, we have uncontrolled redundancy.

h2 Controlled Redundancy
ul
  li It is done in order to improve the performance of queries.
  li
    | Redundancy is said to be controlled redundancy, when storing the data at multiple times will ensure consistency of data.
  li Data access or retrieval speed is high.
h2 Uncontrolled Redundancy
ul
  li It does not improve the performance of queries.
  li
    | Redundancy is said to be uncontrolled redundancy, when storing the data at multiple times will not ensure consistency of data.
  li Data access or retrieval speed is slow